<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD Aula Web 2</title>
    <link rel="stylesheet" href="/view/estilo.css" />
  </head>
  <body>
    <nav>
      <a href="/">Web II</a>
      <ul>
        <li>
          <a href="">Formulário</a>
        </li>
        <li>
          <a href="">Tabela</a>
        </li>
      </ul>
    </nav>
    <section>{conteudo}</section>
    <footer>&copy; CopyLeft</footer>
  </body>
</html>
